/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/codeStyles/Project.xml
.idea/dbnavigator.xml
.idea/misc.xml
.idea/scssLintPlugin.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/codeStyles/Project.xml
.idea/misc.xml
.idea/workspace.xml
